{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href={% static 'css\base.css' %}>
    <link rel="stylesheet" href={% static 'css\list.css' %}>
</head>
<body>
    <div class="class-header">
        <span class="header-text-class">There should have been a header here</span>
        <a href="{% url 'full_list' %}" class='header-link-class'>Full List</a>
    </div>

    {% block some_content %}
    {% endblock %}
</body>
</html>